<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="modal-title">Movie List Page</h1>
        <span>
            <a th:href="@{/movie/register}"><button type="button" class="btn btn-primary">REGISTER</button></a>
        </span>
        <form action="/movie/list" method="get" id="searchForm">
            <input type="hidden" name="page" value="1">
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title & Picture</th>
                <th scope="col">Review</th>
                <th scope="col">AVG</th>
                <th scope="col">RegDate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/movie/read(mno = ${dto.mno}, page = ${result.page})}">[[${dto.mno}]]</a>
                </th>
                <td><img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}" th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">[[${dto.title}]]</td>
                <td><b>[[${dto.reviewCnt}]]</b></td>
                <td><b>[[${dto.avg}]]</b></td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${result.prev}">
                        <a th:href="@{/movie/list(page=${result.start-1}, keyword=${pageRequestDTO.keyword}, type=${pageRequestDTO.type})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:class="${result.page == page ? 'active':''}" th:each="page : ${result.pageList}"><a th:href="@{/movie/list(page=${page}, keyword=${pageRequestDTO.keyword}, type=${pageRequestDTO.type})}">[[${page}]]</a></li>

                    <li th:if="${result.next}">
                        <a th:href="@{/movie/list(page=${result.end+1}, keyword=${pageRequestDTO.keyword}, type=${pageRequestDTO.type})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
</th:block>
</html>